Flask>=3.0
Flask-SQLAlchemy>=3.1
Flask-Login>=0.6
Flask-WTF>=1.2
Flask-Babel>=4.0
Flask-Migrate>=4.0
SQLAlchemy>=2.0
pyodbc
bcrypt>=4.0
python-dotenv>=1.0
WTForms>=3.1
email-validator>=2.0
cryptography
docxtpl>=0.18
Jinja2>=3.1
gunicorn>=21.2
waitress>=2.1
